.animation {
    visibility: hidden;
}

.animation.is-animated {
    visibility: visible;
}

.animation.is-animated .shrink-horizontal-animation {
    margin-left: auto;
    margin-right: auto;
    
    -webkit-animation: shrink-horizontal 400ms forwards;
    animation: shrink-horizontal 400ms forwards;
    
    -webkit-animation-delay: 500ms; /* Chrome, Safari, Opera */
    animation-delay: 500ms;
}


.is-animated .fade-out-animation {
    -webkit-animation: fade-out 1s forwards;
    animation: fade-out 1s forwards;
}

/* --- logo-and-stars-transition ------------------------------- */
/* Chrome, Safari, Opera */
@-webkit-keyframes logo-and-stars-transition {
    from {
        bottom: 300px;
        left: 600px
    }
    to {
        bottom: -20px;
        left: 300px
    }
}

/* Standard syntax */
@keyframes logo-and-stars-transition {
    from {
        bottom: 300px;
        left: 600px
    }
    to {
        bottom: -20px;
        left: 300px
    }
}



/* --- logo-and-stars-shake ------------------------------- */
@-webkit-keyframes logo-and-stars-shake {
    from { background-position: 0 0;}
    to {background-position: 3px 0;}
}


@keyframes logo-and-stars-shake {
    from { background-position: 0 0;}
    to {background-position: 3px 0;}
}



/* --- slide-in-left ------------------------------- */
@-webkit-keyframes slide-in-left {
    from {
       margin-left: 120px;
       opacity: 0;
    }
    to {
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes slide-in-left {
    from {
       margin-left: 120px;
       opacity: 0;
    }
    to {
        margin-left: 0;
       opacity: 1;
    }
}



/* --- fade-in-frames ------------------------------- */
@-webkit-keyframes fade-in-frames {
    from {
       opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in-frames {
    from {
       opacity: 0;
    }
    to {
       opacity: 1;
    }
}



/* --- background-fade-in-frames ------------------------------- */
@-webkit-keyframes background-fade-in-frames {
    from {
       opacity: .1;
    }
    to {
        opacity: 1;
    }
}

@keyframes background-fade-in-frames {
    from {
       opacity: .1;
    }
    to {
       opacity: 1;
    }
}


/* --- shrink-horizontal ------------------------------- */
@-webkit-keyframes shrink-horizontal {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@keyframes shrink-horizontal {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}


/* --- fade-out ------------------------------- */
@-webkit-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}