.what-we-do-banner {
    margin: 20px;
    max-width: 501px;
}

.what-we-do-banner .bar-title {
    fill: #FFF;
    font-family: arial, helvetica, sans-serif;
    font-size: .85em;
    font-weight: bold;
}

.what-we-do-banner .text-presentation {
    fill: #000;
    font-family: arial, helvetica, sans-serif;
    font-size: .85em;
}

.what-we-do-banner .text-activity {
    fill: #000;
    font-family: arial, helvetica, sans-serif;
    font-size: .8em;
}

.what-we-do-banner .shiner-dark {
    -webkit-animation: what-we-do-shiner-dark 1s infinite alternate;
    animation: what-we-do-shiner-dark 1s infinite alternate;
}

.what-we-do-banner .shiner-light {
    -webkit-animation: what-we-do-shiner-light 1s infinite alternate;
    animation: what-we-do-shiner-light 1s infinite alternate;
}



/* --- what-we-do-shiner-light ------------------------------- */
@-webkit-keyframes what-we-do-shiner-light {
    from {
       fill: #FC7D27;
    }
    to {
       fill: #DE6A00;
    }
}

@keyframes what-we-do-shiner-light {
    from {
       fill: #FC7D27;
    }
    to {
       fill: #DE6A00;
    }
}

/* --- what-we-do-shiner-dark ------------------------------- */
@-webkit-keyframes what-we-do-shiner-dark {
    from {
       fill: #DE6A00;
    }
    to {
       fill: #DD5900;
    }
}

@keyframes what-we-do-shiner-dark {
    from {
       fill: #DE6A00;
    }
    to {
       fill: #DD5900;
    }
}